pdaj/seminarski/MessagingClient/Connected Services/ServiceReferenceMS/MessagingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/PDAJ/MessagingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessagingServerLib" />
  <xs:complexType name="ArrayOfKeyValueOfstringChat6bWKi4mm">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringChat6bWKi4mm">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessagingServerLib" name="Value" nillable="true" type="q1:Chat" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringChat6bWKi4mm" nillable="true" type="tns:ArrayOfKeyValueOfstringChat6bWKi4mm" />
</xs:schema>